<Layouts.app>
  <p id="home-intro">
    Welcome to my personal website:
    <ul>
      <li>
        - In the <.link navigate="/blog" class="italic">blog section</.link>
        I share whatever is on my mind, mostly about my hobbies.
      </li>
      <li>
        - In the <.link navigate="/cv" class="italic">cv section</.link>
        I display my professional experience.
      </li>
    </ul>
    ... more sections coming in the future.
  </p>
</Layouts.app>
